.friendList {
  margin: 0 auto 30px;
  width: 300px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -7px 6px 17px -4px rgba(87, 96, 103, 0.27);
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.avatar {
  width: 80px;
  margin-right: 30px;
  margin-bottom: 0;
  border-radius: 5px;
}

.name {
  margin-bottom: 0;
  font-size: 24px;
}

.status {
  width: 25px;
  height: 25px;
  margin-right: 30px;
  border-radius: 50%;
  background-color: #fa564e;
}

.active {
  composes: status;
  background-color: #50ae51;
  box-shadow: 0 0 10px #50ae51;
}
