.statistics {
  width: 400px;
  margin: 0 auto 30px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
  color: rgb(75, 75, 75);
  text-transform: uppercase;
}

.statList {
  display: flex;
}

.item {
  width: 25%;
  height: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.item > .label {
  color: #fff;
  margin-bottom: 5px;
}

.item > .percentage {
  color: #fff;
  font-size: 20px;
}
